[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
build = "~=0.8.0"
dill = "~=0.3.6"
pip = "~=24.0"
pylint = "~=2.15.4"
isort = "~=5.11.4"
yapf = "~=0.32.0"
coverage = "~=7.0.5"
django = "~=3.2.18"
flask = "~=2.3.2"
importlib_metadata = "~=6.0.0"
nose2 = "~=0.12.0"
packaging = "~=23.0"
requests = "~=2.32.0"
requests-toolbelt = "~=1.0.0"
toml = "~= 0.10.2"
tomli = "~= 2.0.1"
tomlkit = "~= 0.11.6"
twine = "~=4.0.1"
wrapt = "~=1.14.1"

[requires]
